.classic {
    display: inline-block;
    color: #475466;
    background-color: #ffffff;
    border: 1px solid #bed2eb;
    border-radius: 10px;
    min-height: 30px;
    padding: 5px;
    width: 100%;

}